
<glava></glava>
    <div class="container">
        <div class="sidenav border border-2">
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>
        <div class="main">
                1.	Na strani: Uporabne informacije: https://tip.ts.telekom.si/Portali/KadrovskiPortal/KadriOrganizacija/UporabneInformacije/Strani/default.aspx je treba v navigaciji zgoraj brisati besedo Kadri in organizacija.
                OK
                	Stran dostopna na https://tip.ts.telekom.si/Portali/KadrovskiPortal/UporabneInformacije/Strani/default.aspx
                2.	Na strani Kadrovski portal: https://tip.ts.telekom.si/Portali/KadrovskiPortal/Strani/default.aspx je treba gradnik z imenom Razpisi na desni strani spodaj zamenjati z gradnikom oz. novim imenom gradnika Preprečevanje mobinga. Vsebina, ki je v gradniku Razpisi pa se briše. Namesto te bo nova vsebina. 
                OK
                
                3.	Na strani Plače: https://tip.ts.telekom.si/Portali/KadrovskiPortal/Strani/Koledar-2011.aspx je potrebno brisati vse tri gradnike na desni strani (Kadri in organizacija, Razvoj in izobraževanje ter obrazci.).
                OK
                
                4.	V zgornji navigaciji na Strani Izplačilo plač: https://tip.ts.telekom.si/Portali/KadrovskiPortal/Place/Strani/IZPLACILO_PLACE10_2011.aspx je potrebno besedo Plale v navigaciji zgoraj polinkati na stran: https://tip.ts.telekom.si/Portali/KadrovskiPortal/Strani/Koledar-2011.aspx.
                NOK
                
                5.	Stran: https://tip.ts.telekom.si/Portali/KadrovskiPortal/Place/Strani/default.aspx pa se briše.
                NOK
                	Kam naj se polinkajo strani kot je https://tip.ts.telekom.si/Portali/KadrovskiPortal/Place/Strani/PlaciloMalicePrekoIDKartice.aspx ko se izbriše zgornja stran (naj jo linknem na kadrovskiPortal, ali na stran iz 4. ->https://tip.ts.telekom.si/Portali/KadrovskiPortal/Strani/Koledar-2011.aspx?)
                
                6.	Na strani: https://tip.ts.telekom.si/Portali/KadrovskiPortal/Strani/Koledar-2011.aspx je potrebno v nogi strani brisati vse koledarje, in sicer koledarje za (2015, 2016 in 2017).
                OK
                
                7.	Stran: https://tip.ts.telekom.si/Portali/KadrovskiPortal/SluzbenaPotovanja/Strani/default.aspx naj se briše.
                NOK
                	Enako kot pri 5. vprasanju, kam naj polinkam podstrani SluzbenegaPotovanja, recimo https://tip.ts.telekom.si/Portali/KadrovskiPortal/SluzbenaPotovanja/Strani/Navodilo-za-uporabo-aplikacije.aspx naj jih linkam na kadrovskiPortal?
                8.	Na strani: https://tip.ts.telekom.si/Portali/KadrovskiPortal/KadriOrganizacija/UporabneInformacije/DelovniCas/Strani/default.aspx je potrebno v navigaciji zgoraj brisati drugo besedo Kadri in organizacija, torej brisati stran: https://tip.ts.telekom.si/Portali/KadrovskiPortal/KadriOrganizacija/Strani/default.aspx. Prav tako je na tej strani; https://tip.ts.telekom.si/Portali/KadrovskiPortal/KadriOrganizacija/Strani/default.aspx potrebno brisati vse gradnike na desni strani.
                OK
                	Stran dostopna na https://tip.ts.telekom.si/Portali/KadrovskiPortal/UporabneInformacije/DelovniCas/Strani/default.aspx
                
                
                
                
                9.	Na strani Prisotnost in odsotonost: https://tip.ts.telekom.si/Portali/KadrovskiPortal/KadriOrganizacija/UporabneInformacije/DelovniCas/Strani/EvidentiranjePrisotnostiInOdsotnostiZDela.aspx naj se v navigaciji zgoraj briše druga beseda Kadri in organizacija.
                
                OK
                	Stran dostopna na https://tip.ts.telekom.si/Portali/KadrovskiPortal/UporabneInformacije/DelovniCas/Strani/EvidentiranjePrisotnostiInOdsotnostiZDela.aspx
                
                
                
                10.	Na strani Oddajanje zahtevkov https://tip.ts.telekom.si/Portali/KadrovskiPortal/KadriOrganizacija/UporabneInformacije/DelovniCas/Strani/OPOZ.aspx je potrebno v navigaciji zgoraj brisati drugi naslov Kadri in organizacija: https://tip.ts.telekom.si/Portali/KadrovskiPortal/KadriOrganizacija/Strani/default.aspx
                
                OK 
                	Stran dostopna na https://tip.ts.telekom.si/Portali/KadrovskiPortal/UporabneInformacije/DelovniCas/Strani/OPOZ.aspx
                
                11.	Enako na strani Razporejanje delovnega časa: https://tip.ts.telekom.si/Portali/KadrovskiPortal/KadriOrganizacija/UporabneInformacije/DelovniCas/Strani/RazporejanjeDelovnegaCasa.aspx je potrebno v navigaciji zgoraj brisati brisati drugi naslov Kadri in organizacija: https://tip.ts.telekom.si/Portali/KadrovskiPortal/KadriOrganizacija/Strani/default.aspx
                
                OK 
                	Stran dostopna na https://tip.ts.telekom.si/Portali/KadrovskiPortal/UporabneInformacije/DelovniCas/Strani/RazporejanjeDelovnegaCasa.aspx
                
                
                
                
                
                
                12.	Na strani Usklajevanje stanja ur https://tip.ts.telekom.si/Portali/KadrovskiPortal/KadriOrganizacija/UporabneInformacije/DelovniCas/Strani/UsklajevanjeStanjaUr.aspx je treba v navigaciji zgoraj brisati brisati drugi naslov Kadri in organizacija: https://tip.ts.telekom.si/Portali/KadrovskiPortal/KadriOrganizacija/Strani/default.aspx
                
                OK
                	Stran dostopna na https://tip.ts.telekom.si/Portali/KadrovskiPortal/UporabneInformacije/DelovniCas/Strani/UsklajevanjeStanjaUr.aspxb
                
                13.	Prav tako na strani Odmori in počitki je treba v navigaciji zgoraj brisati brisati drugi naslov Kadri in organizacija: https://tip.ts.telekom.si/Portali/KadrovskiPortal/KadriOrganizacija/Strani/default.aspx
                
                OK
                	Dostopna na https://tip.ts.telekom.si/Portali/KadrovskiPortal/UporabneInformacije/DelovniCas/Strani/OdmoriInPocitki.aspx
                
                14.	Na strani uporabne informacije: https://tip.ts.telekom.si/Portali/KadrovskiPortal/KadriOrganizacija/UporabneInformacije/Strani/default.aspx je treba v navigaciji zgoraj brisati brisati drugi naslov Kadri in organizacija: https://tip.ts.telekom.si/Portali/KadrovskiPortal/KadriOrganizacija/Strani/default.aspx
                
                OK
                	Dostopna na https://tip.ts.telekom.si/Portali/KadrovskiPortal/UporabneInformacije/Strani/default.aspx
                
                15.	Na strani Spremembe podatkov je treba v navigaciji zgoraj brisati brisati drugi naslov Kadri in organizacija: https://tip.ts.telekom.si/Portali/KadrovskiPortal/KadriOrganizacija/Strani/default.aspx
                
                OK
                	Dostopna na https://tip.ts.telekom.si/Portali/KadrovskiPortal/UporabneInformacije/SpremembaPodatkov/Strani/default.aspx
                
                16.	Na strani Zavarovanje https://tip.ts.telekom.si/Portali/KadrovskiPortal/KadriOrganizacija/UporabneInformacije/Zavarovanja/Strani/default.aspx je treba v navigaciji zgoraj brisati drugi naslov Kadri in organizacija: https://tip.ts.telekom.si/Portali/KadrovskiPortal/KadriOrganizacija/Strani/default.aspx
                
                OK 
                	Dostopna na https://tip.ts.telekom.si/Portali/KadrovskiPortal/UporabneInformacije/Zavarovanja/Strani/default.aspx
                
                17.	Na strani Za starše: https://tip.ts.telekom.si/Portali/KadrovskiPortal/KadriOrganizacija/UporabneInformacije/InformacijeZaStarse/Strani/default.aspx je treba brisati vse gradnike na desni strani.
                OK
                	Dostopno na https://tip.ts.telekom.si/Portali/KadrovskiPortal/UporabneInformacije/InformacijeZaStarse/Strani/default.aspx
                
                18.	Na strani Razdolžitev: https://tip.ts.telekom.si/Portali/KadrovskiPortal/KadriOrganizacija/UporabneInformacije/Strani/Razdol%C5%BEevanje.aspx je treba v navigaciji zgoraj brisati drugi naslov Kadri in organizacija: https://tip.ts.telekom.si/Portali/KadrovskiPortal/KadriOrganizacija/Strani/default.aspx
                OK
                	Dostopno na https://tip.ts.telekom.si/Portali/KadrovskiPortal/UporabneInformacije/Strani/Razdol%C5%BEevanje.aspx
                
                
                19.	Na strani Razvoj in izobraževanja: https://tip.ts.telekom.si/Portali/KadrovskiPortal/RazvojKadrovInIzobrazevanje/Strani/default.aspx je treba na desni strani dodati še dva gradnika spodaj, in sicer Kompetenčni centri za vodenje in Coachingi.
                NOK
                	Na katera url naslova naj bi gradnika usmerila stran?
                
                20.	Na strani Izobraževanje: https://tip.ts.telekom.si/Portali/KadrovskiPortal/RazvojKadrovInIzobrazevanje/Izobraževanje/Strani/default.aspx je treba na desni strani popraviti ime gradnika iz Strokovna praksa v novi Strokovna praksa, štipendiranje, študentsko delo in brisati gradnik Izobraževalni center TS.
                OK
                
                21.	Stran Izobraževalni center TS: https://tip.ts.telekom.si/Portali/KadrovskiPortal/RazvojKadrovInIzobrazevanje/Izobra%C5%BEevanje/Strani/izobrazevalni-center-ts.aspx se briše. Prav tako se na tej strani: https://tip.ts.telekom.si/Portali/KadrovskiPortal/RazvojKadrovInIzobrazevanje/Izobraževanje/Strani/izobrazevalni-center-ts.aspx briše vse tri gradnike.
                
                OK
                
                
                22.	Na strani Navodila za oddajo obrazca za sodelovanje na strokovnem dogodku: https://tip.ts.telekom.si/Portali/KadrovskiPortal/RazvojKadrovInIzobrazevanje/Izobra%C5%BEevanje/SodelovanjeNaStrokovnemDogodku/Strani/NavodilaZaOddajoObrazcaZaSodelovanjeNaStrokovnemDogodku.aspx briši zadnji gradniki na desni strani, in sicer Navodila za oddajo obrazca za sodelovanje na strokovnem dogodku.
                OK
                
                23.	Na strani Prenos znanja: https://tip.ts.telekom.si/Portali/KadrovskiPortal/RazvojKadrovInIzobrazevanje/Izobraževanje/SodelovanjeNaStrokovnemDogodku/Strani/default.aspx je treba v zgornji navigaciji spremeniti zadnji naslov iz Sodelovanje na strokovnem dogodku v Prenos znanja in brisati zadnji gradnik na desni strani Navodila za oddajo obrazca za sodelovanje na strokovnem dogodku.
                OK
                
                24.	Na strani: https://tip.ts.telekom.si/Portali/KadrovskiPortal/RazvojKadrovInIzobrazevanje/Izobraževanje/SodelovanjeNaStrokovnemDogodku/Strani/default.aspx naj se nad gradniki briše ime Sodelovanje na strokovnem dogodku in ga zamenja z novim imenom Prenos znanja.
                OK
                
        </div>
    </div>
<noga></noga>

