/* You can add global styles to this file, and also import other style files */

body {
    padding-top : 86px;
}
footer {
    height : 120px;
    position:absolute;
    width:100%;
    margin-top:60px;
    bottom: 0px;
    background-color:rgb(168, 187, 197);
}

img, #naslovna-slika {
    width:60px;
    height: 60px;
}

.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: rgb(168, 187, 197);
    z-index:9; 
}

.navbar.shrink {
    height: 40px;
}

#navigation-bar-napis
{
    display: none;
    margin-top: 10px;
    font-family: Helvetica;
    font-size: 20px;
    color: #010701;
}

