
<glava></glava>
<div  class="container-fluid">
   <div id="akcije" class="row" *ngIf="akcije">
      <div class="col-md-3" id="napis-ceneje">
            <br><br>
         POPUSTI DO {{ max_popust }}% !!!<br><br>
      </div>
      <ngb-carousel class="col-md-6">
            <ng-template ngbSlide  *ngFor='let akcija of akcije | async'>
               <img  id="slike-popusti" [src]="akcija.img_url" [alt]="akcija.naziv">
               <div class="carousel-caption">
                  <h3>{{  akcija.naziv }}</h3>
                  <p>{{ akcija.opis }}</p>
               </div>
               <div id="discount">
                  {{ akcija.popust }}% CENEJE
               </div>
            </ng-template>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="color:black;">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color:black;"></span>
                  <span class="sr-only">Next</span>
                </a>
      </ngb-carousel>
   </div>
   <div id="margintop">Opis strani...</div>
   <div id="storitve"  class="row">
      <div id="trgovina" class="col-md-4 rounded border">
            <h1 style="position:center;">Trgovina</h1>
      </div>
      <div id="priporocila" class="col-md-4 rounded border">
               Priporocila
      </div>
      <div id="forum" class="col-md-4 rounded border" style="border-color:#313332">
            Forum
      </div>    
   </div>
</div>
<noga></noga>

