<glava></glava>

<div>

        ttps://github.com/aljaz-erzin/racunalniski-koticek.git
        bf7a4c5..03956cd  master -> master
     
     C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .
     
     C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "MySql Node server and angular client connected"
     [master 4fbea43] MySql Node server and angular client connected
      6 files changed, 70 insertions(+), 62 deletions(-)
      rewrite README.md (64%)
      create mode 100644 server/mysql-connection.ts
     
     C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
     Enumerating objects: 24, done.
     Counting objects: 100% (24/24), done.
     Delta compression using up to 4 threads
     Compressing objects: 100% (12/12), done.
     Writing objects: 100% (13/13), 1.36 KiB | 347.00 KiB/s, done.
     Total 13 (delta 9), reused 0 (delta 0)
     remote: Resolving deltas: 100% (9/9), completed with 8 local objects.
     To https://github.com/aljaz-erzin/racunalniski-koticek.git
        03956cd..4fbea43  master -> master
     
     C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .
     
     C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "usmerjevalniki prevezani posebej za artikle in stranke"
     [master 8e6b5eb] usmerjevalniki prevezani posebej za artikle in stranke
      5 files changed, 51 insertions(+), 13 deletions(-)
      create mode 100644 server/router/artikli.ts
      create mode 100644 server/router/stranke.ts
     
     C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
     Enumerating objects: 21, done.
     Counting objects: 100% (21/21), done.
     Delta compression using up to 4 threads
     Compressing objects: 100% (12/12), done.
     Writing objects: 100% (12/12), 1.19 KiB | 611.00 KiB/s, done.ttps://github.com/aljaz-erzin/racunalniski-koticek.git
     bf7a4c5..03956cd  master -> master
  
  C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .
  
  C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "MySql Node server and angular client connected"
  [master 4fbea43] MySql Node server and angular client connected
   6 files changed, 70 insertions(+), 62 deletions(-)
   rewrite README.md (64%)
   create mode 100644 server/mysql-connection.ts
  
  C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
  Enumerating objects: 24, done.
  Counting objects: 100% (24/24), done.
  Delta compression using up to 4 threads
  Compressing objects: 100% (12/12), done.
  Writing objects: 100% (13/13), 1.36 KiB | 347.00 KiB/s, done.
  Total 13 (delta 9), reused 0 (delta 0)
  remote: Resolving deltas: 100% (9/9), completed with 8 local objects.
  To https://github.com/aljaz-erzin/racunalniski-koticek.git
     03956cd..4fbea43  master -> master
  
  C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .
  
  C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "usmerjevalniki prevezani posebej za artikle in stranke"
  [master 8e6b5eb] usmerjevalniki prevezani posebej za artikle in stranke
   5 files changed, 51 insertions(+), 13 deletions(-)
   create mode 100644 server/router/artikli.ts
   create mode 100644 server/router/stranke.ts
  
  C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
  Enumerating objects: 21, done.
  Counting objects: 100% (21/21), done.
  Delta compression using up to 4 threads
  Compressing objects: 100% (12/12), done.
  Writing objects: 100% (12/12), 1.19 KiB | 611.00 KiB/s, done.
  Total 12 (delta 9), reused 0 (delta 0)
  remote: Resolving deltas: 100% (9/9), completed with 8 local objects.
  To https://github.com/aljaz-erzin/racunalniski-koticek.git
     4fbea43..8e6b5eb  master -> master
  
  C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .
  
  C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "CRUD narejen za stranko, brez U"
  [master 84f3633] CRUD narejen za stranko, brez U
   4 files changed, 44 insertions(+), 12 deletions(-)
  
  C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
  Enumerating objects: 21, done.
  Counting objects: 100% (21/21), done.
  Delta compression using up to 4 threads
  Compressing objects: 100% (11/11), done.
  Writing objects: 100% (11/11), 1.79 KiB | 306.00 KiB/s, done.
  Total 11 (delta 7), reused 0 (delta 0)
  remote: Resolving deltas: 100% (7/7), completed with 7 local objects.
  To https://github.com/aljaz-erzin/racunalniski-koticek.gitttps://github.com/aljaz-erzin/racunalniski-koticek.git
  bf7a4c5..03956cd  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "MySql Node server and angular client connected"
[master 4fbea43] MySql Node server and angular client connected
6 files changed, 70 insertions(+), 62 deletions(-)
rewrite README.md (64%)
create mode 100644 server/mysql-connection.ts

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 24, done.
Counting objects: 100% (24/24), done.
Delta compression using up to 4 threads
Compressing objects: 100% (12/12), done.
Writing objects: 100% (13/13), 1.36 KiB | 347.00 KiB/s, done.
Total 13 (delta 9), reused 0 (delta 0)
remote: Resolving deltas: 100% (9/9), completed with 8 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.git
  03956cd..4fbea43  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "usmerjevalniki prevezani posebej za artikle in stranke"
[master 8e6b5eb] usmerjevalniki prevezani posebej za artikle in stranke
5 files changed, 51 insertions(+), 13 deletions(-)
create mode 100644 server/router/artikli.ts
create mode 100644 server/router/stranke.ts

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 21, done.
Counting objects: 100% (21/21), done.
Delta compression using up to 4 threads
Compressing objects: 100% (12/12), done.
Writing objects: 100% (12/12), 1.19 KiB | 611.00 KiB/s, done.
Total 12 (delta 9), reused 0 (delta 0)
remote: Resolving deltas: 100% (9/9), completed with 8 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.git
  4fbea43..8e6b5eb  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "CRUD narejen za stranko, brez U"
[master 84f3633] CRUD narejen za stranko, brez U
4 files changed, 44 insertions(+), 12 deletions(-)

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 21, done.
Counting objects: 100% (21/21), done.
Delta compression using up to 4 threads
Compressing objects: 100% (11/11), done.
Writing objects: 100% (11/11), 1.79 KiB | 306.00 KiB/s, done.
Total 11 (delta 7), reused 0 (delta 0)
remote: Resolving deltas: 100% (7/7), completed with 7 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.gitttps://github.com/aljaz-erzin/racunalniski-koticek.git
bf7a4c5..03956cd  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "MySql Node server and angular client connected"
[master 4fbea43] MySql Node server and angular client connected
6 files changed, 70 insertions(+), 62 deletions(-)
rewrite README.md (64%)
create mode 100644 server/mysql-connection.ts

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 24, done.
Counting objects: 100% (24/24), done.
Delta compression using up to 4 threads
Compressing objects: 100% (12/12), done.
Writing objects: 100% (13/13), 1.36 KiB | 347.00 KiB/s, done.
Total 13 (delta 9), reused 0 (delta 0)
remote: Resolving deltas: 100% (9/9), completed with 8 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.git
03956cd..4fbea43  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "usmerjevalniki prevezani posebej za artikle in stranke"
[master 8e6b5eb] usmerjevalniki prevezani posebej za artikle in stranke
5 files changed, 51 insertions(+), 13 deletions(-)
create mode 100644 server/router/artikli.ts
create mode 100644 server/router/stranke.ts

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 21, done.
Counting objects: 100% (21/21), done.
Delta compression using up to 4 threads
Compressing objects: 100% (12/12), done.
Writing objects: 100% (12/12), 1.19 KiB | 611.00 KiB/s, done.
Total 12 (delta 9), reused 0 (delta 0)
remote: Resolving deltas: 100% (9/9), completed with 8 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.git
4fbea43..8e6b5eb  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "CRUD narejen za stranko, brez U"
[master 84f3633] CRUD narejen za stranko, brez U
4 files changed, 44 insertions(+), 12 deletions(-)

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 21, done.
Counting objects: 100% (21/21), done.
Delta compression using up to 4 threads
Compressing objects: 100% (11/11), done.
Writing objects: 100% (11/11), 1.79 KiB | 306.00 KiB/s, done.
Total 11 (delta 7), reused 0 (delta 0)
remote: Resolving deltas: 100% (7/7), completed with 7 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.gitttps://github.com/aljaz-erzin/racunalniski-koticek.git
bf7a4c5..03956cd  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "MySql Node server and angular client connected"
[master 4fbea43] MySql Node server and angular client connected
6 files changed, 70 insertions(+), 62 deletions(-)
rewrite README.md (64%)
create mode 100644 server/mysql-connection.ts

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 24, done.
Counting objects: 100% (24/24), done.
Delta compression using up to 4 threads
Compressing objects: 100% (12/12), done.
Writing objects: 100% (13/13), 1.36 KiB | 347.00 KiB/s, done.
Total 13 (delta 9), reused 0 (delta 0)
remote: Resolving deltas: 100% (9/9), completed with 8 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.git
03956cd..4fbea43  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "usmerjevalniki prevezani posebej za artikle in stranke"
[master 8e6b5eb] usmerjevalniki prevezani posebej za artikle in stranke
5 files changed, 51 insertions(+), 13 deletions(-)
create mode 100644 server/router/artikli.ts
create mode 100644 server/router/stranke.ts

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 21, done.
Counting objects: 100% (21/21), done.
Delta compression using up to 4 threads
Compressing objects: 100% (12/12), done.
Writing objects: 100% (12/12), 1.19 KiB | 611.00 KiB/s, done.
Total 12 (delta 9), reused 0 (delta 0)
remote: Resolving deltas: 100% (9/9), completed with 8 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.git
4fbea43..8e6b5eb  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "CRUD narejen za stranko, brez U"
[master 84f3633] CRUD narejen za stranko, brez U
4 files changed, 44 insertions(+), 12 deletions(-)

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 21, done.
Counting objects: 100% (21/21), done.
Delta compression using up to 4 threads
Compressing objects: 100% (11/11), done.
Writing objects: 100% (11/11), 1.79 KiB | 306.00 KiB/s, done.
Total 11 (delta 7), reused 0 (delta 0)
remote: Resolving deltas: 100% (7/7), completed with 7 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.gitttps://github.com/aljaz-erzin/racunalniski-koticek.git
bf7a4c5..03956cd  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "MySql Node server and angular client connected"
[master 4fbea43] MySql Node server and angular client connected
6 files changed, 70 insertions(+), 62 deletions(-)
rewrite README.md (64%)
create mode 100644 server/mysql-connection.ts

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 24, done.
Counting objects: 100% (24/24), done.
Delta compression using up to 4 threads
Compressing objects: 100% (12/12), done.
Writing objects: 100% (13/13), 1.36 KiB | 347.00 KiB/s, done.
Total 13 (delta 9), reused 0 (delta 0)
remote: Resolving deltas: 100% (9/9), completed with 8 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.git
03956cd..4fbea43  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "usmerjevalniki prevezani posebej za artikle in stranke"
[master 8e6b5eb] usmerjevalniki prevezani posebej za artikle in stranke
5 files changed, 51 insertions(+), 13 deletions(-)
create mode 100644 server/router/artikli.ts
create mode 100644 server/router/stranke.ts

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 21, done.
Counting objects: 100% (21/21), done.
Delta compression using up to 4 threads
Compressing objects: 100% (12/12), done.
Writing objects: 100% (12/12), 1.19 KiB | 611.00 KiB/s, done.
Total 12 (delta 9), reused 0 (delta 0)
remote: Resolving deltas: 100% (9/9), completed with 8 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.git
4fbea43..8e6b5eb  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "CRUD narejen za stranko, brez U"
[master 84f3633] CRUD narejen za stranko, brez U
4 files changed, 44 insertions(+), 12 deletions(-)

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 21, done.
Counting objects: 100% (21/21), done.
Delta compression using up to 4 threads
Compressing objects: 100% (11/11), done.
Writing objects: 100% (11/11), 1.79 KiB | 306.00 KiB/s, done.
Total 11 (delta 7), reused 0 (delta 0)
remote: Resolving deltas: 100% (7/7), completed with 7 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.gitttps://github.com/aljaz-erzin/racunalniski-koticek.git
bf7a4c5..03956cd  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "MySql Node server and angular client connected"
[master 4fbea43] MySql Node server and angular client connected
6 files changed, 70 insertions(+), 62 deletions(-)
rewrite README.md (64%)
create mode 100644 server/mysql-connection.ts

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 24, done.
Counting objects: 100% (24/24), done.
Delta compression using up to 4 threads
Compressing objects: 100% (12/12), done.
Writing objects: 100% (13/13), 1.36 KiB | 347.00 KiB/s, done.
Total 13 (delta 9), reused 0 (delta 0)
remote: Resolving deltas: 100% (9/9), completed with 8 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.git
03956cd..4fbea43  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "usmerjevalniki prevezani posebej za artikle in stranke"
[master 8e6b5eb] usmerjevalniki prevezani posebej za artikle in stranke
5 files changed, 51 insertions(+), 13 deletions(-)
create mode 100644 server/router/artikli.ts
create mode 100644 server/router/stranke.ts

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 21, done.
Counting objects: 100% (21/21), done.
Delta compression using up to 4 threads
Compressing objects: 100% (12/12), done.
Writing objects: 100% (12/12), 1.19 KiB | 611.00 KiB/s, done.
Total 12 (delta 9), reused 0 (delta 0)
remote: Resolving deltas: 100% (9/9), completed with 8 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.git
4fbea43..8e6b5eb  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "CRUD narejen za stranko, brez U"
[master 84f3633] CRUD narejen za stranko, brez U
4 files changed, 44 insertions(+), 12 deletions(-)

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 21, done.
Counting objects: 100% (21/21), done.
Delta compression using up to 4 threads
Compressing objects: 100% (11/11), done.
Writing objects: 100% (11/11), 1.79 KiB | 306.00 KiB/s, done.
Total 11 (delta 7), reused 0 (delta 0)
remote: Resolving deltas: 100% (7/7), completed with 7 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.gitttps://github.com/aljaz-erzin/racunalniski-koticek.git
bf7a4c5..03956cd  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "MySql Node server and angular client connected"
[master 4fbea43] MySql Node server and angular client connected
6 files changed, 70 insertions(+), 62 deletions(-)
rewrite README.md (64%)
create mode 100644 server/mysql-connection.ts

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 24, done.
Counting objects: 100% (24/24), done.
Delta compression using up to 4 threads
Compressing objects: 100% (12/12), done.
Writing objects: 100% (13/13), 1.36 KiB | 347.00 KiB/s, done.
Total 13 (delta 9), reused 0 (delta 0)
remote: Resolving deltas: 100% (9/9), completed with 8 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.git
03956cd..4fbea43  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "usmerjevalniki prevezani posebej za artikle in stranke"
[master 8e6b5eb] usmerjevalniki prevezani posebej za artikle in stranke
5 files changed, 51 insertions(+), 13 deletions(-)
create mode 100644 server/router/artikli.ts
create mode 100644 server/router/stranke.ts

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 21, done.
Counting objects: 100% (21/21), done.
Delta compression using up to 4 threads
Compressing objects: 100% (12/12), done.
Writing objects: 100% (12/12), 1.19 KiB | 611.00 KiB/s, done.
Total 12 (delta 9), reused 0 (delta 0)
remote: Resolving deltas: 100% (9/9), completed with 8 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.git
4fbea43..8e6b5eb  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "CRUD narejen za stranko, brez U"
[master 84f3633] CRUD narejen za stranko, brez U
4 files changed, 44 insertions(+), 12 deletions(-)

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 21, done.
Counting objects: 100% (21/21), done.
Delta compression using up to 4 threads
Compressing objects: 100% (11/11), done.
Writing objects: 100% (11/11), 1.79 KiB | 306.00 KiB/s, done.
Total 11 (delta 7), reused 0 (delta 0)
remote: Resolving deltas: 100% (7/7), completed with 7 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.gitttps://github.com/aljaz-erzin/racunalniski-koticek.git
bf7a4c5..03956cd  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "MySql Node server and angular client connected"
[master 4fbea43] MySql Node server and angular client connected
6 files changed, 70 insertions(+), 62 deletions(-)
rewrite README.md (64%)
create mode 100644 server/mysql-connection.ts

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 24, done.
Counting objects: 100% (24/24), done.
Delta compression using up to 4 threads
Compressing objects: 100% (12/12), done.
Writing objects: 100% (13/13), 1.36 KiB | 347.00 KiB/s, done.
Total 13 (delta 9), reused 0 (delta 0)
remote: Resolving deltas: 100% (9/9), completed with 8 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.git
03956cd..4fbea43  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "usmerjevalniki prevezani posebej za artikle in stranke"
[master 8e6b5eb] usmerjevalniki prevezani posebej za artikle in stranke
5 files changed, 51 insertions(+), 13 deletions(-)
create mode 100644 server/router/artikli.ts
create mode 100644 server/router/stranke.ts

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 21, done.
Counting objects: 100% (21/21), done.
Delta compression using up to 4 threads
Compressing objects: 100% (12/12), done.
Writing objects: 100% (12/12), 1.19 KiB | 611.00 KiB/s, done.
Total 12 (delta 9), reused 0 (delta 0)
remote: Resolving deltas: 100% (9/9), completed with 8 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.git
4fbea43..8e6b5eb  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "CRUD narejen za stranko, brez U"
[master 84f3633] CRUD narejen za stranko, brez U
4 files changed, 44 insertions(+), 12 deletions(-)

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 21, done.
Counting objects: 100% (21/21), done.
Delta compression using up to 4 threads
Compressing objects: 100% (11/11), done.
Writing objects: 100% (11/11), 1.79 KiB | 306.00 KiB/s, done.
Total 11 (delta 7), reused 0 (delta 0)
remote: Resolving deltas: 100% (7/7), completed with 7 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.gitttps://github.com/aljaz-erzin/racunalniski-koticek.git
bf7a4c5..03956cd  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "MySql Node server and angular client connected"
[master 4fbea43] MySql Node server and angular client connected
6 files changed, 70 insertions(+), 62 deletions(-)
rewrite README.md (64%)
create mode 100644 server/mysql-connection.ts

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 24, done.
Counting objects: 100% (24/24), done.
Delta compression using up to 4 threads
Compressing objects: 100% (12/12), done.
Writing objects: 100% (13/13), 1.36 KiB | 347.00 KiB/s, done.
Total 13 (delta 9), reused 0 (delta 0)
remote: Resolving deltas: 100% (9/9), completed with 8 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.git
03956cd..4fbea43  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "usmerjevalniki prevezani posebej za artikle in stranke"
[master 8e6b5eb] usmerjevalniki prevezani posebej za artikle in stranke
5 files changed, 51 insertions(+), 13 deletions(-)
create mode 100644 server/router/artikli.ts
create mode 100644 server/router/stranke.ts

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 21, done.
Counting objects: 100% (21/21), done.
Delta compression using up to 4 threads
Compressing objects: 100% (12/12), done.
Writing objects: 100% (12/12), 1.19 KiB | 611.00 KiB/s, done.
Total 12 (delta 9), reused 0 (delta 0)
remote: Resolving deltas: 100% (9/9), completed with 8 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.git
4fbea43..8e6b5eb  master -> master

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "CRUD narejen za stranko, brez U"
[master 84f3633] CRUD narejen za stranko, brez U
4 files changed, 44 insertions(+), 12 deletions(-)

C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
Enumerating objects: 21, done.
Counting objects: 100% (21/21), done.
Delta compression using up to 4 threads
Compressing objects: 100% (11/11), done.
Writing objects: 100% (11/11), 1.79 KiB | 306.00 KiB/s, done.
Total 11 (delta 7), reused 0 (delta 0)
remote: Resolving deltas: 100% (7/7), completed with 7 local objects.
To https://github.com/aljaz-erzin/racunalniski-koticek.git
     Total 12 (delta 9), reused 0 (delta 0)
     remote: Resolving deltas: 100% (9/9), completed with 8 local objects.
     To https://github.com/aljaz-erzin/racunalniski-koticek.git
        4fbea43..8e6b5eb  master -> master
     
     C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git add .
     
     C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git commit -m "CRUD narejen za stranko, brez U"
     [master 84f3633] CRUD narejen za stranko, brez U
      4 files changed, 44 insertions(+), 12 deletions(-)
     
     C:\Users\e-erzina\Desktop\domaci projekti\racunalniski-koticek>git push origin master
     Enumerating objects: 21, done.
     Counting objects: 100% (21/21), done.
     Delta compression using up to 4 threads
     Compressing objects: 100% (11/11), done.
     Writing objects: 100% (11/11), 1.79 KiB | 306.00 KiB/s, done.
     Total 11 (delta 7), reused 0 (delta 0)
     remote: Resolving deltas: 100% (7/7), completed with 7 local objects.
     To https://github.com/aljaz-erzin/racunalniski-koticek.git
</div>
<noga></noga>